{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library</title>
    <link rel="stylesheet" href="{% static 'styles/index.css' %}">
    <link rel="stylesheet" href="{% static 'styles/checkbox.css' %}">
</head>

<body>
    <section>
        <div class="create_cont">
            <input class="create_inp" type="text" placeholder="Заголовок">
            <input class="create_inp" type="text" placeholder="Цена">
            <input class="create_inp" type="text" placeholder="Жанр">
            <input class="create_inp" type="text" placeholder="Автор">
            <input class="create_inp" type="text" placeholder="Год выхода книги">
            <input class="create_inp" type="text" placeholder="Описание">
            <button class="create_btn">Добавить</button>
        </div>

        <div class="book_cont">
            <div class="book_item">
                <div class="book_item_header">
                    <label class="checkbox_cont">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <h4>TTT</h4>
                </div>
                <div class="book_item_footer">
                    <p>25.11.2021<span>17:13</span></p>
                    <div class="action_btns">
                        <img src="./icons/unmarked.png">
                        <img src="./icons/delete.png">
                    </div>
                </div>
            </div>
            <div class="book_item marked">
                <div class="book_item_header">
                    <label class="checkbox_cont">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <h4>TTT</h4>
                </div>
                <div class="book_item_footer">
                    <p>25.11.2021<span>17:13</span></p>
                    <div class="action_btns">
                        <img src="./icons/unmarked.png">
                        <img src="./icons/delete.png">
                    </div>
                </div>
            </div>
            <div class="book_item done">
                <div class="book_item_header">
                    <label class="checkbox_cont">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <h4>TTT</h4>
                </div>
                <div class="book_item_footer">
                    <p>25.11.2021<span>17:13</span></p>
                    <div class="action_btns">
                        <img src="./icons/unmarked.png">
                        <img src="./icons/delete.png">
                    </div>
                </div>
            </div>
            <div class="book_item marked">
                <div class="book_item_header">
                    <label class="checkbox_cont">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <h4>TTT</h4>
                </div>
                <div class="book_item_footer">
                    <p>25.11.2021<span>17:13</span></p>
                    <div class="action_btns">
                        <img src="./icons/unmarked.png">
                        <img src="./icons/delete.png">
                    </div>
                </div>
            </div>
            <div class="book_item">
                <div class="book_item_header">
                    <label class="checkbox_cont">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <h4>TTT</h4>
                </div>
                <div class="book_item_footer">
                    <p>25.11.2021<span>17:13</span></p>
                    <div class="action_btns">
                        <img src="./icons/unmarked.png">
                        <img src="./icons/delete.png">
                    </div>
                </div>
            </div>
            <div class="book_item done">
                <div class="book_item_header">
                    <label class="checkbox_cont">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <h4>TTT</h4>
                </div>
                <div class="book_item_footer">
                    <p>25.11.2021<span>17:13</span></p>
                    <div class="action_btns">
                        <img src="./icons/unmarked.png">
                        <img src="./icons/delete.png">
                    </div>
                </div>
            </div>

        </div>

    </section>

</body>

</html>